#cim{
    text-align: center;
    font-size: 200%;
    font-family: Algerian;
    
}

body{
    background-color: rgb(226, 202, 169);
}

.menu{
    text-align: right;
    margin-right: 60px;
}

#menu2{
    text-align: right;
    margin-right: 90px;
    font-size: 115%;
    text-transform: uppercase;
    font-weight: bold;
}

#linkek{
    font-size: 110%;
    text-transform: uppercase;
    font-weight: bold;
}

img{
    width: 10%;
    height: 10%;
}

#sz{
    font-size: 150%;
    text-align: left;
    font-style: italic;
}

#sz2{
    font-size: 120%;
    text-align: left;
    font-style: italic;
}
#sz3{
    font-size: 120%;
    text-align: left;
    font-style: italic;
}
{
  margin: 0;
  font-family: Arial;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(244, 174, 69);
  color: white;
}